aiohttp==3.8.4
aiosignal==1.3.1
android==1.0
apiai==1.2.3
astroid==2.8.2
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
audiostream==0.2
autopep8==2.0.2
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.0.12
click==8.1.3
cmake @ file:///home/n0n3m4/Desktop/Pydroid/zBuildPrepared/cmake-3.20.3-py3-none-any.whl
colorama==0.4.6
colored==1.4.4
curlify==2.2.1
decorator==4.4.2
deep-translator==1.10.1
distro==1.6.0
exceptiongroup==1.1.0
facebook-business==16.0.1
Facebook-Chatbot==1.2.0
facebook-downloader==1.3.1
facebook-sdk==3.1.0
FacebookWebBot==1.1.0
fbchat==2.0.0a5
Flask==2.2.3
frozenlist==1.3.3
future==0.18.3
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
huepy==1.2.1
idna==3.4
imageio==2.26.0
imageio-ffmpeg==0.4.8
importlib-metadata==6.0.0
iniconfig==2.0.0
instabot==0.117.0
install==1.3.5
isort==5.9.3
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.2
Kivy==2.0.0
lazy-object-proxy==1.6.0
libmagic==1.0
libretranslatepy==2.1.1
lolcat==1.4
lxml==4.6.3
MarkupSafe==2.1.2
mccabe==0.6.1
mechanize==0.4.8
mediawikiapi==1.1.6
messenger-api-python==2022.4.22
mock==5.0.1
MouseInfo==0.1.3
moviepy==1.0.3
multidict==6.0.4
nightmare-pdf==0.1.0
numpy==1.21.2
openai==0.27.2
outcome==1.2.0
packaging==21.0
paho-mqtt==1.6.1
parso==0.8.2
Pillow==9.4.0
pkgconfig==1.5.5
platformdirs==2.4.0
pluggy==1.0.0
proglog==0.1.10
PyAutoGUI==0.9.53
pybind11==2.8.0
pycodestyle==2.10.0
pycountry==22.3.5
pycparser==2.21
pygame==2.0.1
PyGetWindow==0.0.9
pyjnius==1.3.0
pylint==2.11.1
pymediawiki==0.7.2
pymessenger==0.0.7.0
PyMsgBox==1.0.9
pyngrok==5.2.1
pyparsing==2.4.7
PyPDF2==3.0.1
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
PySDL2==0.9.7
PySocks==1.7.1
pytest==7.2.2
python-magic==0.4.25
python-messengerbot-sdk==0.1.0
python3-xlib==0.15
pyttsx3==2.90
pytube3==9.6.4
pytweening==1.0.4
pytz==2022.7.1
pywhatkit==5.4
PyYAML==6.0
requests==2.26.0
requests-toolbelt==0.9.1
responses==0.23.1
schedule==1.1.0
scikit-build==0.12.0
selenium==4.8.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
translate==3.6.1
trio==0.22.0
trio-websocket==0.9.2
typed-ast==1.4.3
types-PyYAML==6.0.12.8
typing-extensions==3.10.0.2
urllib3==1.26.14
webencodings==0.5.1
Werkzeug==2.2.3
wikipedia==1.4.0
wrapt==1.13.1
wsproto==1.2.0
yarl==1.8.2
youtube-dl==2021.12.17
zipp==3.15.0
